<div class="flex flex-row fixed bottom-4 right-4 text-xs">
    <div class="p-2 mr-2 bg-gray-700 text-white rounded-full">all</div>
    <div class="p-2 mr-2 bg-yellow-800 text-white hidden sm:block rounded-full">SM</div>
    <div class="p-2 mr-2 bg-green-900 text-white hidden md:block rounded-full">MD</div>
    <div class="p-2 mr-2 bg-violet-800 text-white hidden lg:block rounded-full">LG</div>
    <div class="p-2 mr-2 bg-blue-900 text-white hidden xl:block rounded-full">XL</div>
    <div class="p-2 mr-2 bg-red-900 text-white hidden 2xl:block rounded-full">2XL</div>
</div>