
<div class="handlebarsComponent">
    <div>
      {{#if title}}<h3>{{title}}</h3>{{/if}}
      {{#if lead}}<p>{{lead}}</p>{{/if}}
      <h4>{{> title}}</h4>
      <p>{{> content}}</p>
    </div>
</div>